main {
  top: 0;
  position: fixed;
  background: #4661db;
  z-index: 20000;
  width: 100%;
}

.parent {
  position: relative;
}

#formDiv {
  background-color: white;
  height: 102.2px;

  margin: 40px;
  padding: 29px;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  width: 94%;
  margin-block-end: -15px;
  margin-block-start: 2em;
  color: white;
}

form {
  display: flex;
}

.wrapper {
  flex: 1;
}

#timeBlock {
  display: flex;
}

label {
  display: block;
  color: rgb(184, 185, 190);
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
}

select {
  width: 100%;
}

.usernameBlock {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

input {
  width: 100%;
  height: 64px;
  border-radius: 0;
  border: 1px solid rgb(184, 185, 190);
  border-right: none;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
}
button {
  width: 100%;
  height: 64px;
  border-radius: 0;
  border: none;
  background: #4661db;
  color: white;
  margin-top: 19px;
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  font-size: 20px;
}

button:hover {
  background: #4fb4c9;
  cursor: pointer;
  transition: ease-in 0.5s;
}

button:disabled {
  background: rgb(184, 185, 190);
}

span {
  display: inline-block;
  color: red;
  font-size: 12px;
}
select {
  appearance: none;
  border-radius: 0;
  height: 64px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  border: 1px solid rgb(184, 185, 190);
  border-right: none;
  text-indent: 20px;
}

option {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-bottom: 10px;
}
label[for='roomOptions'] {
  position: relative;
  display: block;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
}

label[for='roomOptions']::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  display: block;
  pointer-events: none;
}

label[for='roomOptions'] select {
  border: 5px solid #eeeeee;
  background: white;
  padding: 7px 20px 7px 20px;
  width: 100%;
  font-size: 16px;
  font-family: monospace;
  cursor: pointer;
}

label[for='roomOptions'] select::-ms-expand {
  display: none;
}

label[for='roomOptions'] :-moz-any(select) {
  width: 110%;
}

label[for='roomOptions'].ie9 select {
  width: 110%;
}

label[for='roomOptions'] select:focus {
  outline: 1px dotted #a9a9a9;
}
