<main>
  <header><h1>Book a meeting now</h1></header>
  <div id="formDiv">
    <form [formGroup]="roomBookingForm">
      <div class="wrapper">
        <label for="username">Enter your username</label>
        <input
          class="usernameBlock"
          placeholder="Enter username"
          type="text"
          formControlName="username"
        />
        <span *ngIf="username.touched && username.hasError('required')">*Username is required</span>
      </div>
      <div class="wrapper" class="select">
        <label for="roomOptions">Choose a room</label>
        <select formControlName="meetingRoom">
          <option value="0" selected disabled>Choose an option</option>
          <ng-container *ngFor="let room of rooms; index as i">
            <option value="Room {{ i + 1 }}">Room {{ i + 1 }}</option>
          </ng-container>
        </select>
        <span *ngIf="meetingRoom.touched && meetingRoom.hasError('required')"
          >*Room must be selected</span
        >
      </div>
      <div class="wrapper">
        <label for="dateSelected">Choose a date</label>
        <input type="date" formControlName="date" />
        <span *ngIf="date.touched && date.hasError('required')">*Date must be selected</span>
        <span *ngIf="date.touched && date.hasError('weekendError')"
          >*Can't be scheduled on weekend</span
        >
        <span *ngIf="date.touched && date.hasError('dateError')">*Past dates not allowed</span>
      </div>
      <div class="wrapper">
        <div>
          <label for="fromTime">Start Time: </label>
          <input type="time" name="fromTime" formControlName="fromTime" />
        </div>
        <div>
          <span *ngIf="fromTime.touched && fromTime.hasError('required')"
            >*Start time is required</span
          >
          <span *ngIf="fromTime.touched && fromTime.hasError('rangeError')"
            >*Can be scheduled btn 9-6</span
          >
          <span *ngIf="fromTime.touched && fromTime.hasError('pastTime')"
            >*Can be scheduled for passed time</span
          >
          <span *ngIf="errorStatement">*{{ errorStatement }}</span>
        </div>
      </div>
      <div class="wrapper">
        <div>
          <label for="toTime">End Time: </label>
          <input type="time" formControlName="toTime" />
        </div>
        <div>
          <span *ngIf="toTime.touched && toTime.hasError('rangeError')"
            >*Can be scheduled btn 9 to 6</span
          >
          <span *ngIf="toTime.touched && toTime.hasError('required')">*End time is required</span>
          <span *ngIf="toTime.touched && toTime.hasError('pastTime')"
            >*Can be scheduled for passed time</span
          >

          <span *ngIf="errorStatement">*{{ errorStatement }}</span>
        </div>
      </div>

      <div class="wrapper">
        <label for="agenda">Enter Meeting Agenda</label>
        <input type="text" formControlName="meetingAgenda" placeholder="Enter Agenda" />
        <span *ngIf="meetingAgenda.touched && meetingAgenda.hasError('required')"
          >*Meeting Agenda is required</span
        >
      </div>
      <div class="wrapper">
        <button type="reset" [disabled]="roomBookingForm.invalid" (click)="bookNow()">
          Book Now
        </button>
      </div>
    </form>
  </div>
</main>

<app-view-meetings [bookedMeetings]="bookedMeetingsToDisplay"></app-view-meetings>
