main {
  background-color: rgb(245, 245, 245);
  min-height: 59vh;
  margin-top: 308.8px;
}

#table-container,
#heading-container {
  display: flex;
  justify-content: center;
}

h2,
h1 {
  width: 80%;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
  color: rgb(184, 185, 190);
}

h1 {
  text-align: center;
}

i {
  color: rgb(184, 185, 190);
}

i:hover {
  color: red;
  cursor: pointer;
}

table {
  width: 80%;
  border-spacing: 0 15px;
}

tr {
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: white;
}

tr:hover {
  transform: scale(1.02);
  transition: 0.5s linear;
}

td {
  height: 82px;
  box-sizing: border-box;
  background-color: white;
  text-align: left;
  padding: 20px;
}

td:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

.label {
  display: block;
  color: rgb(184, 185, 190);
  font-size: 14px;
  margin-bottom: 5px;
}

.no-data-available {
  height: 50vh;
  align-items: center;
}
