<main>
  <ng-container *ngIf="meetingsData.length != 0; else noDataAvailable">
    <div id="heading-container">
      <h2>Bookings for your chosen date and room</h2>
    </div>

    <div id="table-container">
      <table>
        <tbody>
          <tr *ngFor="let data of meetingsData; index as i">
            <td>{{ i + 1 }}.</td>
            <td>
              <div class="label">Username</div>
              <div>{{ data?.username }}</div>
            </td>
            <td>
              <div class="label">Room</div>
              <div>
                {{ data?.meetingRoom }}
              </div>
            </td>
            <td>
              <div class="label">Date</div>
              <div>
                {{ data?.date }}
              </div>
            </td>
            <td>
              <div class="label">From</div>
              <div>
                {{ data?.fromTime }}
              </div>
            </td>
            <td>
              <div class="label">To</div>
              <div>
                {{ data?.toTime }}
              </div>
            </td>
            <td>
              <div class="label">Agenda</div>
              <div>
                {{ data?.meetingAgenda }}
              </div>
            </td>
            <td>
              <div></div>
              <div (click)="deleteMeeting(data?.meetingId)">
                <i class="gg-trash"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #noDataAvailable>
    <div id="heading-container" class="no-data-available">
      <h1>No data available</h1>
    </div>
  </ng-template>
</main>
