/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}
